@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,100&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
   
}

.Table_top_bottom {
    margin-bottom:20px;
    margin-top: 20px;
}
.td_kullanıcılar0{
    border: 5px solid #ffb0c3;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
}
.td_kullanıcılar{
    border-right: 5px solid #ffb0c3;
    border-left: 5px solid #ffb0c3;
    border-radius: 10px;
    text-align: center;
    border-bottom: 1px solid #ffb0c3;
    padding: 20px;
}